@{
  Layout="_Layout";
}

        <h1>@Model["category"].GetName()</h1>
        <hr>
        <ul>
          @foreach(var item in Model["items"])
          {
            <li><p>@item.GetDescription() | <a href="/items/@item.GetId()/update"> Edit </a> </p></li>
          }
        </ul>
        <a href="/items/new/@Model["category"].GetId()">Add a new to do item.</a>
        <br>
        <br>

        <form action="/items/delete" method="post">
        <button class="btn btn-danger" type="submit" name="button">Clear All Items</button>
        </form>
        <br>
        <h4><a href="/">Return home</a></h4>
