<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
    </head>
    <body>
        <h1>@Model["category"].GetName()</h1>
        <ul>
          @foreach(var item in Model["items"])
          {
            <h4>@item.GetDescription() | <a href="/items/@Model.GetId()/update"> Edit </a> </h4>
          }
        </ul>
        <a href="/items/new">Add a new item.</a>

        <form action="/items/delete" method="post">
        <button type="submit" name="button">Clear All Items</button>
        </form>

    </body>
</html>
