@{
  Layout="_Layout";
}

    <ol>
      @foreach(var category in Model)
      {
        <li><h6><a href ="/categories/details/@category.GetId()">@category.GetName()</a></h6></li>
      }
  </ol>
  <br>
    <a href="/categories/new">Add a new List Category</a>
    <br>
    <br>
    <form action="/categories/delete" method="post">
    <button class="btn btn-danger" type="submit" name="button">Clear All Categories</button>
    </form>
