<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>To Do List</h1>
    <ol>
      @foreach(var category in Model)
      {
        <h4><a href ="/categories/details/@category.GetId()">@category.GetName()</a></h4>
      }
    </ol>
    <a href="/categories/new">Add a new Category.</a>
    <br>
    <br>

    <form action="/categories/delete" method="post">
    <button type="submit" name="button">Clear All Categories</button>
    <!-- <button type="submit" name="button">Delete Item</button> -->
    </form>
  </body>
</html>
