@{
  Layout="_Layout";
}

    <h3>Add a new item:</h3>
<form action="/categories/details" method="post">
  <label for="new-item">Item Description</label>
  <input id="new-item" name="new-item" type="text">
  <input name="category-id" type="hidden" value="@Model">
   <button type="submit">Add item</button>
</form>
