<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>To Do List</h1>
    <ul>
      @foreach(var item in Model)
      {
        <h4>@item.GetDescription() | <a href="/items/@item.GetId()/update"> Edit </a> </h4>
      }
    </ul>
    <a href="/items/new">Add a new item.</a>

    <form action="/items/delete" method="post">
    <button type="submit" name="button">Clear All Items</button>
    <!-- <button type="submit" name="button">Delete Item</button> -->
    </form>
  </body>
</html>
